.project {
    
    &__wrap {
        background-color: $white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__labels {
            display: flex;
            justify-content: center;
            padding: 1rem 0;
            flex-wrap: wrap;

            @include break(sm) {
                flex-wrap: nowrap;
            }
        }
    }

    & .label {
        margin: 0.5rem;
        font-size: 1rem;
    }

    h2 {
        font-weight: bold;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
}